<main class="contenedor contenido-principal text-center">
    <h2><span>Conoce más</span> sobre nosotros</h2>

    <div class="contenido-nosotros">


        <div class="texto">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos ducimus Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam nostrum earum, possimus quia ipsa itaque aliquid distinctio corporis? Voluptate quod illum, similique hic ex animi ullam! Ducimus minima tenetur voluptatibus!, quos quo, laudantium temporibus ratione odit officia labore incidunt vitae repellat beatae corrupti nam. Quis dolor possimus illum unde! Excepturi?</p>

        </div>

    </div>

    <section class="iconos">
        <ul class="listado-iconos">
            <li>
                <img src="assets/img/icono_cafe.svg" alt="icono café">
                <p>Café</p>
            </li>

            <li>
                <img src="assets/img/icono_postre.svg" alt="icono café">
                <p>Postres</p>
            </li>

            <li>
                <img src="assets/img/icono_te.svg" alt="icono café">
                <p>Té</p>
            </li>
        </ul>
    </section>

    <app-galery></app-galery>
    
</main>


