<app-header></app-header>

<main class="contenedor contenido-principal padding-bottom-0">
    <h2><span>Utilizamos los</span>mejores ingredientes</h2>

    <div class="contenido-menu">
        <div class="texto">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam praesentium iure voluptatem a nemo consectetur, enim distinctio vel. Nobis, a! Minima natus dolorem ipsum magnam assumenda incidunt quis rerum optio!Nobis, a! Minima natus dolorem ipsum magnam assumenda incidunt quis rerum optio!Nobis, a! Minima natus dolorem ipsum magnam assumenda incidunt quis rerum optio!</p>
        </div>
    </div>
</main>
<app-menu></app-menu>
<app-footer></app-footer>