<app-header></app-header>
<main class="contenedor contenido-principal">
    <div class="proceso-cafe">
        <div class="imagen">
            <img src="assets/img/proceso_1.jpg" alt="imagen proceso">
        </div>

        <div class="texto">
            <h3>Granos de Café</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perferendis aspernatur possimus esse aliquid, similique labore numquam quasi repellat dolor quibusdam ipsum eius tempore fugiat fuga accusantium, voluptas neque commodi.</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <img src="assets/img/proceso_2.jpg" alt="imagen proceso">
        </div>

        <div class="texto">
            <h3>Tostar el café</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perferendis aspernatur possimus esse aliquid, similique labore numquam quasi repellat dolor quibusdam ipsum eius tempore fugiat fuga accusantium, voluptas neque commodi.</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <img src="assets/img/proceso_3.jpg" alt="imagen proceso">
        </div>

        <div class="texto">
            <h3>Empacar el Café</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perferendis aspernatur possimus esse aliquid, similique labore numquam quasi repellat dolor quibusdam ipsum eius tempore fugiat fuga accusantium, voluptas neque commodi.</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <img src="assets/img/proceso_4.jpg" alt="imagen proceso">
        </div>

        <div class="texto">
            <h3>Moler granos de café</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perferendis aspernatur possimus esse aliquid, similique labore numquam quasi repellat dolor quibusdam ipsum eius tempore fugiat fuga accusantium, voluptas neque commodi.</p>
        </div>
    </div>

    <div class="proceso-cafe">
        <div class="imagen">
            <img src="assets/img/proceso_5.jpg" alt="imagen proceso">
        </div>

        <div class="texto">
            <h3>Disfrutar una taza</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos perferendis aspernatur possimus esse aliquid, similique labore numquam quasi repellat dolor quibusdam ipsum eius tempore fugiat fuga accusantium, voluptas neque commodi.</p>
        </div>
    </div>
</main>


<app-footer></app-footer>