
// fuentes
$fuente_principal: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;
// media queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// colores
$primario: #5e3113;
$secundario: #c39c63;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;


// Unidades

$separacion: 5rem;